In [70]:
# Import Libraries.

import os
import requests
import time
import datetime
import re

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

"""Maybe make it into a job that extracts and sends a completion email every year."""
# import smtplib

'Maybe make it into a job that extracts and sends a completion email every year.'

In [71]:
dataframe = pd.read_csv("./csv/allNBADrafts.csv")

In [13]:
columns = ['Round', 'Pick', 'Player', 'Position', 'Nationality', 'Team', 'School/club team']

In [72]:
dataframe.head()

,Round,Pick,Player,Position,Nationality,Team,School/club team,Traded to a different team,Status,Draft year
0,1,1,Mychal Thompson,F/C,Bahamas,Portland Trail Blazers,Minnesota,Yes,College Senior,1978
1,1,2,Phil Fordx,G,United States,Kansas City Kings,North Carolina,Yes,College Senior,1978
2,1,3,Rick Robey,F/C,United States,Indiana Pacers,Kentucky,Yes,College Senior,1978
3,1,4,Micheal Ray Richardson,G/F,United States,New York Knicks,Montana,Yes,College Senior,1978
4,1,5,Purvis Short,G/F,United States,Golden State Warriors,Jackson State,Yes,College Senior,1978

In [77]:
print(dataframe['Pick'].value_counts())

1                                                                                     45
24                                                                                    45
26                                                                                    45
27                                                                                    45
28                                                                                    45
                                                                                      ..
210                                                                                    1
211                                                                                    1
216                                                                                    1
138                                                                                    1
Miami Heat (from Philadelphia via Denver; forfeited due to tampering violation)[3]     1
Name: Pick, Length: 147, dtype: int64

In [74]:
dataframe[dataframe.Pick == 'Milwaukee Bucks (forfeited due to tampering violation)[3]']

,Round,Pick,Player,Position,Nationality,Team,School/club team,Traded to a different team,Status,Draft year
2739,2,Milwaukee Bucks (forfeited due to tampering vi...,Milwaukee Bucks (forfeited due to tampering vi...,Milwaukee Bucks (forfeited due to tampering vi...,Milwaukee Bucks (forfeited due to tampering vi...,Milwaukee Bucks,Milwaukee Bucks (forfeited due to tampering vi...,No,Playing Internationally,2022

In [78]:
dataframe[dataframe.Pick == 'Miami Heat (from Philadelphia via Denver; forfeited due to tampering violation)[3]']

,Round,Pick,Player,Position,Nationality,Team,School/club team,Traded to a different team,Status,Draft year
2740,2,Miami Heat (from Philadelphia via Denver; forf...,Miami Heat (from Philadelphia via Denver; forf...,Miami Heat (from Philadelphia via Denver; forf...,Miami Heat (from Philadelphia via Denver; forf...,Miami Heat,Miami Heat (from Philadelphia via Denver; forf...,Yes,Playing Internationally,2022

In [91]:
import pandas as pd
from sqlalchemy import create_engine
import os
import glob

In [92]:
engine = create_engine("postgresql://postgres:superuser@localhost/NBADrafts")
conn = engine.connect()

dataframe = pd.read_csv("./csv/allNBADrafts.csv")
dataframe.to_sql('allNBADrafts_from_1978', con=conn, index=False, if_exists="replace")

# process_data(conn, filepath="../datasets", func=load_data)

conn.close()